@model AssignmentAppDev2021.Models.ViewRoomsViewModel

@{
    ViewBag.Title = "TestViewRooms";
}


<div>
    @foreach (var item in Model.Rooms)
    {

        Html.RenderPartial("_RoomView",item);
    }

    @{
    }
</div>

    @Html.ActionLink("Add Blank Room", "TestEF", "Home") |
