@model AssignmentAppDev2021.Models.ViewRoomsViewModel

@{
    ViewBag.Title = "TestViewRooms";
}

<h2>TestViewRooms</h2>
    @Html.ActionLink("Add Blank Room", "TestEF", "Home") |

<div>
    @foreach (var item in Model.Rooms)
    {

        Html.RenderPartial("_RoomView",item);
    }

    @{
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
